// Colors ----------------------- //
// BASIC COLORS //
$color-background: #f9f9f9;
$color-white: #fdfdfd;
$color-pure-white: #fff;
$color-black: #0d0d0d;
$color-yellow: #fce100;

//GREYS
$color-grey: #767676;

// MAIN COLOR //
$color-primary: #2648eb;
$color-primary-dark: #1b33ab;
$color-primary-light: #3b5cfe;

// PROJECT COLORS //

// PROJECT 1 COLORS //
$color-p1-primary: #feedd8;
$color-p1-btns: #f97400;
$color-p1-btns-dark: #de6b06;

// PROJECT 2 COLORS //
$color-p2-primary: #363636;
$color-p2-background: #422842;
$color-p2-btns: #682e68;
$color-p2-btns-dark: #572757;

// PROJECT 3 COLORS //
$color-p3-primary: #5466cc;
$color-p3-background: #f7f3f2;

//GRADIENTS

$gradient-blue: linear-gradient(270deg, #0e32ff 0%, #001cbe 100%);
