// Colors ----------------------- //
// BASIC COLORS //
$color-background: #f9f9f9;
$color-white: #fdfdfd;
$color-pure-white: #fff;
$color-black: #0d0d0d;

//GREYS
$color-grey: #767676;

// MAIN COLOR //
$color-primary: #2648eb;
$color-primary-dark: #1b33ab;
$color-primary-light: #3b5cfe;

// PROJECT COLOR //
$color-p1-primary: #feedd8;
