// Colors ----------------------- //
// BASIC COLORS //
$color-background: #f9f9f9;
$color-white: #fdfdfd;
$color-black: #0d0d0d;

// MAIN COLOR //
$color-primary: #2648eb;
$color-primary-dark: #1b33ab;
