.btn {
  display: inline-block;
  white-space: nowrap;
  padding: 1.4rem 1.6rem;
  color: $color-primary;
  border-radius: 1.5rem;
  font-weight: bold;
  border: 2px solid $color-primary;
  box-shadow: 4px 7px 0 0 transparent;
  font-family: inherit;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;

  @include respond(tab-land) {
    color: $color-white;
    background-color: $color-primary;
    border: 2px solid $color-black;
    box-shadow: 4px 7px 0 0 rgba($color-black, 1);
  }

  @media (hover: hover) {
    &:hover {
      color: $color-white;
      background-color: $color-primary;
      border: 2px solid $color-black;
      box-shadow: 4px 7px 0 0 rgba($color-black, 1);
    }
  }

  &:active {
    color: $color-white;
    background-color: $color-primary-dark;
    border: 2px solid $color-black;
    box-shadow: 1px 1px 0 0 rgba($color-black, 1);
    transform: translate(2px, 5px);
  }

  &--p1 {
    color: $color-p1-btns;
    border-color: $color-p1-btns;

    &:hover {
      background-color: $color-p1-btns;
      color: $color-black;
    }

    &:active {
      background-color: $color-p1-btns-dark;
    }
  }
}
