.section__hero {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  margin-bottom: 6rem;

  @include respond(tab-land) {
    height: 60vw;
  }

  @include respond(tab-port) {
    height: auto;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../assets/images/hero-background.png);
    background-size: 30%;
    background-repeat: repeat;
    background-position: center;
    opacity: 0.025;
    z-index: 0;
  }

  & > * {
    position: relative;
    z-index: 1;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-left: 3.5rem;

  @include respond(tab-land) {
    padding-top: 10rem;
  }

  @include respond(tab-port) {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 22rem 2rem 0 2rem;
    gap: 3rem;
    text-align: center;
  }

  @include respond(phone) {
    padding: 16rem 1.5rem 2rem 1.5rem;
    gap: 4rem;
    justify-content: flex-start;
  }

  &__content {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8rem;

    @include respond(tab-land) {
      width: 60%;
      justify-content: center;
      gap: 4rem;
    }

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
      padding: 0 4rem;
    }
  }

  &__greeting {
    font-size: 1.6rem;

    @include respond(tab-port) {
      font-size: 1.8rem;
    }
  }

  &__title {
    font-family: "Playfair Display", sans-serif;
    font-size: 6.4rem;
    font-weight: Black;
    font-style: italic;
    color: $color-primary;

    @include respond(tab-land) {
      font-size: 5rem;
    }

    @include respond(tab-port) {
      font-size: 4.5rem;
    }

    @include respond(phone) {
      font-size: 4.6rem;
      line-height: 1.1;
    }
  }

  &__tags {
    display: flex;
    list-style: none;
    gap: 1.6rem;
    flex-wrap: wrap;

    @include respond(tab-land) {
      justify-content: center;
    }

    @include respond(tab-port) {
      margin: 0 auto;
      justify-content: center;
    }

    @include respond(phone) {
      gap: 1.2rem;
    }
  }

  &__tag {
    padding: 1.4rem 1.6rem;
    background: $gradient-blue;
    color: $color-white;
    border-radius: 1.5rem;

    @include respond(tab-land) {
      padding: 1.4rem 1.6rem;
      font-size: 1.6rem;
      border-radius: 1.5rem;
      flex: 0 0 calc(50% - 0.8rem);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include respond(phone) {
      padding: 1.2rem 1.6rem;
      font-size: 1.6rem;
      border-radius: 1.5rem;
    }
  }

  &__scroll {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__description {
    font-size: 1.6rem;

    @include respond(tab-port) {
      font-size: 1.8rem;
      line-height: 1.6;
    }
  }

  &__image-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    width: 45%;

    picture {
      display: contents;
    }

    @include respond(tab-land) {
      width: 40%;
      align-items: center;
    }

    @include respond(tab-port) {
      height: auto;
      width: 100%;
      margin-top: auto;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }

  &__image {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: bottom right;

    @include respond(tab-land) {
      height: 100%;
      max-width: 100%;
    }

    @include respond(tab-port) {
      height: auto;
      max-height: 45vh;
      object-position: bottom center;
    }
  }
}

.section__projects {
  padding: 0 3.5rem;
  margin-bottom: 6rem;
  scroll-margin-top: 15rem;

  @include respond(tab-port) {
    padding: 0 2rem;
  }
}

.projects__heading {
  position: relative;
  font-family: "Playfair Display", sans-serif;
  font-weight: bold;
  color: $color-primary;
  text-align: center;
  font-size: 3.2rem;
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 6rem;

  &::after {
    content: "";
    position: absolute;
    background-color: $color-primary;
    width: 100%;
    height: 4px;
    border-radius: 2rem;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: $color-pure-white;
  border-radius: 1.5rem;
  box-shadow: 0 16px 5px 0 rgba($color-black, 0.2);
  overflow: hidden;

  @include respond(tab-port) {
    flex-direction: column-reverse;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;
    padding: 11.5rem 3.5rem;
    width: 50%;

    @include respond(tab-port) {
      width: 100%;
      padding: 6rem 3.5rem;
      align-items: center;
      text-align: center;
    }
  }

  &__logo {
    width: fit-content;
  }

  &__paragraph {
    color: $color-grey;
    font-size: 1.6rem;

    @include respond(tab-port) {
      font-size: 1.8rem;
    }
  }

  &__btn {
    align-self: flex-start;

    @include respond(tab-port) {
      align-self: center;
    }
  }

  &__image__container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    position: relative;

    @include respond(tab-port) {
      width: 100%;
      min-height: 30rem;
    }

    img {
      position: relative;
      z-index: 1;
      transition: transform 0.3s ease;
    }

    &--1 {
      background-color: $color-p1-primary;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url(../assets/images/project-1-bg-doodles.png);
        background-size: 60%;
        background-repeat: repeat;
        opacity: 0.05;
        z-index: 0;
      }

      &:hover img {
        transform: scale(1.1);

        @include respond(tab-land) {
          transform: none;
        }
      }
    }

    &--2 {
      background-color: $color-p2-background;
      overflow: hidden;

      .project__image {
        position: absolute;
        transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
        height: 75%;
        width: auto;

        &--lamp {
          top: 0;
          left: 50%;
          transform: translate(-50%, -100%);
          height: auto;
          width: 50%;
          max-width: 25rem;
          opacity: 0;
          z-index: 3;
        }

        &--screen-1 {
          transform: translateX(-30%) scale(0.85);
          z-index: 1;
        }

        &--screen-3 {
          transform: translateX(30%) scale(0.85);
          z-index: 1;
        }

        &--screen-2 {
          transform: scale(0.95);
          z-index: 2;
        }
      }

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background:
          linear-gradient(
            to bottom,
            transparent 70%,
            $color-p2-background 100%
          ),
          conic-gradient(
            from 90deg at 50% -5%,
            transparent 30deg,
            rgba(253, 192, 103, 0.25) 60deg,
            rgba(253, 192, 103, 0.6) 90deg,
            rgba(253, 192, 103, 0.25) 120deg,
            transparent 150deg
          );
        opacity: 0;
        transition: opacity 0.5s ease;
        z-index: 0;
      }

      &:hover {
        @media (hover: hover) {
          .project__image--lamp {
            transform: translate(-50%, -5%);
            opacity: 1;
          }

          .project__image--screen-1 {
            transform: translate(-90%, 2%) scale(0.85);
          }

          .project__image--screen-3 {
            transform: translate(90%, 2%) scale(0.85);
          }

          .project__image--screen-2 {
            transform: scale(1.05);
          }

          &::before {
            opacity: 1;
          }
        }
      }

      @include respond(tab-land) {
        .project__image--lamp {
          transform: translate(-50%, -5%);
          opacity: 1;
        }

        .project__image--screen-1 {
          transform: translate(-90%, 2%) scale(0.85);
        }

        .project__image--screen-3 {
          transform: translate(90%, 2%) scale(0.85);
        }

        .project__image--screen-2 {
          transform: scale(1.05);
        }

        &::before {
          opacity: 1;
        }
      }
    }

    &--3 {
      background-color: $color-p3-background;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url(../assets/images/project-3-bg-doodles.png);
        background-size: 40%;
        background-repeat: repeat;
        opacity: 0.1;
        z-index: 0;
      }

      &:hover img {
        transform: scale(1.1);

        @include respond(tab-land) {
          transform: none;
        }
      }
    }
  }
}
