* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #f9f9f9;
  color: #0d0d0d;
  font-size: 1.6rem;
  font-family: "Archivo", sans-serif;
}

.heading__secondary {
  font-family: "Archivo", sans-serif;
  font-weight: bold;
}

.u-margin-bottom-regular {
  margin-bottom: 6rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.6rem 3.5rem;
  background-color: #f9f9f9;
  box-shadow: 0 4px 4px rgba(13, 13, 13, 0.25);
  z-index: 100;
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  gap: 5rem;
}
.nav__link {
  text-decoration: none;
  color: inherit;
  font-size: 1.8rem;
  display: inline-block;
}
.nav__link--active {
  font-weight: bold;
  position: relative;
}
.nav__link--active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #0d0d0d;
  border-radius: 999px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2648eb;
  padding: 1.6rem 3.4rem;
  color: #fdfdfd;
  gap: 2.4rem;
}
.footer__icons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.footer__icon {
  font-size: 2.8rem;
  color: #fdfdfd;
}

.btn {
  display: inline-block;
  padding: 1.4rem 1.6rem;
  color: #2648eb;
  border-radius: 1.5rem;
  font-weight: bold;
  border: 2px solid #2648eb;
  box-shadow: 4px 7px 0 0 transparent;
  font-family: inherit;
  text-decoration: none;
}
.btn:hover {
  color: #fdfdfd;
  background-color: #2648eb;
  border: 2px solid #0d0d0d;
  box-shadow: 4px 7px 0 0 #0d0d0d;
}
.btn:active {
  color: #fdfdfd;
  background-color: #1b33ab;
  border: 2px solid #0d0d0d;
  box-shadow: 1px 1px 0 0 #0d0d0d;
  transform: translate(2px, 5px);
}

.section__hero {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  margin-bottom: 6rem;
}
.section__hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../assets/images/hero-background.png);
  background-size: 30%;
  background-repeat: repeat;
  background-position: center;
  opacity: 0.025;
  z-index: 0;
}
.section__hero > * {
  position: relative;
  z-index: 1;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-left: 3.5rem;
}
.hero__content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 8rem;
}
.hero__greeting {
  font-size: 1.6rem;
}
.hero__title {
  font-family: "Playfair Display", sans-serif;
  font-size: 6.4rem;
  font-weight: Black;
  font-style: italic;
  color: #2648eb;
}
.hero__tags {
  display: flex;
  margin-left: auto;
  list-style: none;
  gap: 1.6rem;
  flex-wrap: wrap;
}
.hero__tag {
  padding: 1.4rem 1.6rem;
  background-color: #2648eb;
  color: #fdfdfd;
  border-radius: 1.5rem;
  border: 2px solid #0d0d0d;
  box-shadow: 4px 7px 0 0 #0d0d0d;
}
.hero__scroll {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__description {
  font-size: 1.6rem;
}
.hero__image-wrapper {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.hero__image {
  position: relative;
  height: 100%;
  object-fit: contain;
}

.section__projects {
  padding: 0 3.5rem;
  margin-bottom: 6rem;
  scroll-margin-top: 15rem;
}

.projects__heading {
  position: relative;
  font-family: "Playfair Display", sans-serif;
  font-weight: bold;
  color: #2648eb;
  text-align: center;
  font-size: 3.2rem;
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 6rem;
}
.projects__heading::after {
  content: "";
  position: absolute;
  background-color: #2648eb;
  width: 100%;
  height: 4px;
  border-radius: 2rem;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 16px 5px 0 rgba(13, 13, 13, 0.2);
  overflow: hidden;
}
.project__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
  padding: 11.5rem 3.5rem;
  max-width: 60rem;
}
.project__logo {
  width: fit-content;
}
.project__paragraph {
  color: #767676;
  font-size: 1.6rem;
}
.project__btn {
  align-self: flex-start;
}
.project__image__container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  position: relative;
}
.project__image__container img {
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease;
}
.project__image__container--1 {
  background-color: #feedd8;
}
.project__image__container--1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../assets/images/project-1-bg-doodles.png);
  background-size: 60%;
  background-repeat: repeat;
  opacity: 0.05;
  z-index: 0;
}
.project__image__container--1:hover img {
  transform: scale(1.075);
}
.project__image__container--2 {
  background-color: #422842;
  overflow: hidden;
}
.project__image__container--2 .project__image {
  position: absolute;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  height: 75%;
  width: auto;
}
.project__image__container--2 .project__image--lamp {
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  height: auto;
  width: 50%;
  max-width: 25rem;
  opacity: 0;
  z-index: 3;
}
.project__image__container--2 .project__image--screen-1 {
  transform: translateX(-30%) scale(0.85);
  z-index: 1;
}
.project__image__container--2 .project__image--screen-3 {
  transform: translateX(30%) scale(0.85);
  z-index: 1;
}
.project__image__container--2 .project__image--screen-2 {
  transform: scale(0.95);
  z-index: 2;
}
.project__image__container--2::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, transparent 70%, #422842 100%), conic-gradient(from 90deg at 50% -5%, transparent 30deg, rgba(253, 192, 103, 0.25) 60deg, rgba(253, 192, 103, 0.6) 90deg, rgba(253, 192, 103, 0.25) 120deg, transparent 150deg);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 0;
}
.project__image__container--2:hover .project__image--lamp {
  transform: translate(-50%, -5%);
  opacity: 1;
}
.project__image__container--2:hover .project__image--screen-1 {
  transform: translate(-90%, 2%) scale(0.85);
}
.project__image__container--2:hover .project__image--screen-3 {
  transform: translate(90%, 2%) scale(0.85);
}
.project__image__container--2:hover .project__image--screen-2 {
  transform: scale(1.05);
}
.project__image__container--2:hover::before {
  opacity: 1;
}
.project__image__container--3 {
  background-color: #f7f3f2;
}
.project__image__container--3::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../assets/images/project-3-bg-doodles.png);
  background-size: 40%;
  background-repeat: repeat;
  opacity: 0.1;
  z-index: 0;
}
.project__image__container--3:hover img {
  transform: scale(1.075);
}

/*# sourceMappingURL=styles.css.map */
